@media (max-width: 1199px){

    .mainmenu {
        justify-content: flex-end;
        background: none;
        box-shadow: none;
    }
    .header{
        background: none;
        box-shadow: none;
    }
    .closeFilter{
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .grid-wrapper {
        padding-block: 15px;
        padding-inline: 15px;
    }
    .flex-wrapper{
        padding-block: 15px;
        padding-inline: 15px;
    }
    .filter-uk-navbar{
        position: fixed;
        height: 100dvh;
        right: 0;
        top: 0;
        background: white;
        max-width: 300px;
        padding: 20px;
        z-index:3;
       
        .uk-navbar-nav{
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
        }
       
    }
    .open-main-sidebar{
        .sidebar{
            display: flex;
        }
    }
    .sidebar{
        display: none;
        position: fixed;
        height: 100dvh;
        left: 0;
        top: 0;
        background: white;
        max-width: 300px;
        padding: 20px;
        z-index:3;
        .closeSidebar{
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }
    .toggleSidebar{
        font-size: 30px !important;
    }
    .grid-wrapper{
        display: grid;
        grid-template-areas: "logo-wrapper header" "main main" "footer footer";
    }
    .overview-page{
        .grid-wrapper{
            grid-template-areas: "logo-wrapper logo-wrapper" "main main" "footer footer";
        }
    }

    .main-wrapper{
        display: flex;
        flex-direction: column;
        gap: var(--grid-gap);
    }
}
@media (min-width: 1200px) {
    .btn-filterhead{
        display: none !important;
    }
    .filter-uk-navbar{
        display: flex;
        overflow-x: auto;
        .closeFilter{
            display:none !important;
        }
    }
    .sidebar{
        display: flex;
    }
    .toggleSidebar{
        display: none !important;
    }
    .closeSidebar{
        display: none !important;
    }
    
    
    .main-wrapper{
        display: grid !important;
        /* grid-template-columns: var(--sidepanel-width) auto; */
        .sidebar{
            grid-column: 1 / 2;
            grid-row: 1 / span 2;
        }
        .table-parent {
            grid-column: 2 / span 2;
            grid-row: 1 / 1;
        
        }
        .main-inner{
            grid-column: 1 / span 2;
            grid-row: 1 / 1;
        }
        .paginationWrapper {
            grid-column: 2 /  span 2;
            grid-row: 2 / 2;
        }
    }
}
@media (min-width: 1600px) {
    .flex-wrapper,.grid-wrapper{
        max-width: 1920px;
    }
}